<h2>Sign up</h2>

<% if Setting.signup_form_note_html.present? %>
<div class="mb-4">
  <%= Setting.signup_form_note_html %>
</div>
<% end%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autocomplete: "given-name", autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "family-name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, autocomplete: "tel", class: "form-control", placeholder: "optional" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <%= f.hidden_field :subscriber, value: true %>

  <% if ENV['TURNSTILE_SITE_KEY'].present? %>
    <div class="cf-turnstile mt-3" data-sitekey="<%= ENV['TURNSTILE_SITE_KEY'] %>"></div>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>

<% if ENV['TURNSTILE_SITE_KEY'].present? %>
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<% end %>

<div class="text-center mt-4">
  <%= render "devise/shared/links" %>
</div>
