<h2>Motzi Bread - <%= @menu.name %></h2>

<div class="bakers-note">
  <%= @menu.subscriber_note_html %>
</div>

<p><%= link_to "This week's menu", current_menu_url(uid: @user.hashid) %></p>

<p>Order by <%= day_to_order_by_text %>.</p>

<%= render partial: 'menu_mailer/credits_remaining' %>
