<div class="pickup-list-page" style="padding: 20px;">
  <h2>Pickup List &mdash; <%= @date.strftime('%A %m/%d/%Y') %></h2>

  <% @pickup_days.map(&:menu).uniq.each do |menu| %>
    <p>
      Menu: <a href="<%= admin_menu_path(menu) %>"><%= menu.name %></a>
      <% if menu.holiday? %>
        <span class="status_tag" style="background: orange; margin-left: 6px; padding: 2px 8px; color: #fff; border-radius: 3px;">Holiday</span>
      <% end %>
    </p>
  <% end %>

  <div class="tabs-container">
    <ul class="tabs" role="tablist">
      <li role="presentation"><a href="#orders-tab" role="tab" class="tab active" data-toggle="tab">Orders</a></li>
      <li role="presentation"><a href="#by-item-tab" role="tab" class="tab" data-toggle="tab">By Item</a></li>
    </ul>

    <div id="orders-tab" class="tab-content">
      <table id="pickup-list" class="index_table">
        <thead>
          <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Items</th>
            <th>Sign</th>
          </tr>
        </thead>
        <tbody>
          <% @rows.each do |user, order_items| %>
            <tr>
              <td><%= user.last_name.presence || user.email %></td>
              <td><%= user.first_name %></td>
              <td>
                <ul>
                  <% order_items.group_by(&:item).each do |item, ois| %>
                    <% qty = ois.sum(&:quantity) %>
                    <li><%= qty > 1 ? "#{qty}x " : "" %><%= item.name %></li>
                  <% end %>
                </ul>
              </td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div id="by-item" class="tab-content">
      <%
        items_hash = {}
        @rows.each do |user, order_items|
          order_items.each do |oi|
            item_name = oi.item.name
            items_hash[item_name] ||= []
            items_hash[item_name].push([user, oi.quantity])
          end
        end
      %>
      <% items_hash.sort_by { |name, _| name }.each do |item_name, user_rows| %>
        <%
          users = Hash.new(0)
          user_rows.each { |user, qty| users[user.name.downcase] += qty }
        %>
        <div class="column">
          <h3><%= item_name %></h3>
          <ol>
            <% users.sort_by { |name, _| name }.each do |name, qty| %>
              <li>
                <span><%= name %></span>
                <% if qty > 1 %>
                  <strong>x<%= qty %></strong>
                <% end %>
              </li>
            <% end %>
          </ol>
        </div>
      <% end %>
    </div>
  </div>
</div>
