<h2>Reminder to come grab your bread today!!</h2>

<div>
  <%= Setting.pickup_instructions_html %>
</div>

<div class="day-of-note">
  <%= @menu.day_of_note_html %>
</div>

<p>You ordered:</p>
<table>
  <% @order_items.map do |oi| %>
  <tr>
    <td><%= oi.quantity %>x</td>
    <td><%= oi.item.name %></td>
  </tr>
  <% end %>
</table>

<%= render partial: 'menu_mailer/credits_remaining' %>
