<h2>Order reminder from <%= Setting.shop.name %>
</h2>
<p>Please order soon!</p>
<ul>
  <% @menus.each do |menu| %>
    <li>
      <strong>
        <%= menu.name %>
      </strong>
      <% if menu.is_special? %>
        <span class="badge badge-pill badge-warning">Special Menu</span>
        <% end %>
          <div class="deadline">
            <%= ordering_deadline_text(menu) %>
          </div>
          <div>
            <%= link_to "Order #{menu.name}" , current_menu_url(uid: @user.hashid, menu_id: menu.id) %>
          </div>
    </li>
    <% end %>
</ul>

<%= render partial: 'menu_mailer/credits_remaining' %>