<header class="marketing-header">
  <%= link_to "Motzi", root_path, class: "marketing-logo" %>
  <nav class="marketing-nav">
    <%= link_to "Order", current_menu_path %>
    <%= holiday_menu_link %>
    <%= link_to "Our Process", about_path %>
    <%= link_to "Subscriptions", subscribe_path %>
    <%= link_to "Contact Us", contact_path %>
    <a href="https://www.instagram.com/motzi.bread" target="_blank" rel="noopener noreferrer">IG</a>
    <% if user_signed_in? %>
      <%= link_to "Account", current_menu_path %>
      <% if current_user.is_admin? %>
        <%= link_to "Admin", admin_root_path %>
      <% end %>
    <% end %>
  </nav>
</header>
