<footer class="marketing-footer">
  <address>
    2801 Guilford Ave<br>
    Baltimore, MD 21218
  </address>
  <nav class="marketing-footer-nav">
    <%= link_to "Order", current_menu_path %>
    <%= link_to "Our Process", about_path %>
    <%= link_to "Subscriptions", subscribe_path %>
    <%= link_to "Contact Us", contact_path %>
  </nav>
  <p class="marketing-credits">
    Photography: Nathan Mitchell ·
    Illustration: Kate Haberer ·
    Web Design: Marisa Grotte
  </p>
  <p class="marketing-copyright">© <%= Time.current.year %> Motzi LLC</p>
</footer>
