<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? "#{yield :title} | Motzi" : "Motzi Bread" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= tag.link(rel: "icon", href: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ctext y='.9em' font-size='90'%3E🍞%3C/text%3E%3C/svg%3E") %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&family=Oswald:wght@500&family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "marketing", media: "all" %>
    <%= yield :head %>
  </head>
  <body class="marketing">
    <%= render "layouts/marketing_header" %>
    <main class="marketing-main">
      <% if notice %><p class="flash flash-notice"><%= notice %></p><% end %>
      <% if alert %><p class="flash flash-alert"><%= alert %></p><% end %>
      <%= yield %>
    </main>
    <%= render "layouts/marketing_footer" %>
  </body>
</html>
